
<%# <div class="container">
  <div class="container">
    <h1>Your Movie List</h1>
  </div>s
</div> %>

<div class="cont">

  <div class="banner">
    <%= image_tag 'film-reel' %>
    <h1>Movie Night</h1>
  </div>
  <div class="main-body">
    <div class="header">
      <h1>Genres</h1>
    <!-- Modal -->
    <!-- Button trigger modal -->
      <button class="plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa fa-solid fa-plus"></i>
      </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: black;">
            <h1 class="modal-title" id="exampleModalLabel" style="font-size: 32px; margin: 0px; color: white; height: 42px;">Add a genre</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background-color: black;">
            <div class="text-start">
              <div class="form-list">
                <%= simple_form_for (@list) do |f| %>
                  <%= f.input :name, placeholder: 'genre' %>
                  <%= f.input :photo, as: :file %>
                  <%= f.submit 'Add', class: 'btn btn-outline-danger btn-sm mt-1' %>
                  <%= link_to 'Cancel', lists_path(@list), class: 'btn btn-outline-danger btn-sm mt-1' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      <%# <%= link_to 'Add Category', new_list_path, class: 'btn btn-danger' %>




    <!-- cards -->
    <div class="wrapper">
      <% @lists.each do |list| %>
          <div class="films">
        <%= link_to list_path(list) do %>
            <%= cl_image_tag list.photo.key %>
            <div class="card-text">
              <h2 style="color: white; font-family: 'Lobster', cursive; font-size: 38px;"><%= list.name %></h2>
              <h3><%= @bookmarks.count %> movies listed</h3>
              <%= link_to "Delete",
                list_path(list),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: 'btn btn-outline-danger btn-sm mt-1' %>
            </div>
        <% end %>
          </div>
      <% end %>
    </div>
  </div>

</div>


<%# <div class="container p-2">
  <div class="row row-cols-3 ">
      <% @lists.each do |list| %>
          <%# <div class="card d-flex align-items-center justify-content-center">
            <h4><%= link_to list.name, list_path(list) %>
          <%# </div>
      <% end %>
  <%# </div> %>
<%# </div> %>
