

<div class="banner d-flex align-items-center justify-content-center">
  <div class="text-start">
    <div class="form-list">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie, collection: Movie.all %>
        <%= f.input :comment %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'Add movie', class: 'btn btn-primary' %>
        <%= link_to 'Cancel', list_path(@list), class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>
